body {
    background: #f9f9f9;
}

.logo {
    text-align: center;
    padding: 10px;
}

.main-container {
    max-width: 1200px;
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.card {
    width: 200px;
    margin-left: 20px;
    margin-right: 15px;
    margin-bottom: 35px;
}

.card-img {
    height: 200px;
    background-color: #FFF;
    
}
.card-img img {
    width: 100%;
    height: 100%;
}

.card-bio {
    height: 140px;
    padding: 10px;
    background: #FFF;
    margin-top: 5px;
    text-align: justify;
}

.card-bio strong {
    font-size: 16px;
}
.card-bio p {
    font-size: 13px;
    margin-top: 10px;
}

.card-button {
    height: 40px;
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    background: #FFF;
}

.card-button button {
    width: 49%;
    height: 100%;
    border: 1px solid #ccc;
    background: transparent;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.2s;
}

.card-button button:hover {
    background-color: #f7f7f7;
}

.empty {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.empty h1 {
    font-size: 50px;
}

.match-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0, 0.8);
}

.match-container #avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #FFF;
    margin: 30px;
}

.match-container strong {
    color: #FFF;
    font-size: 18px;
    margin: 10px;
}

.match-container p {
    text-align: justify;
    color: #FFF;
    font-size: 14px;
}

.match-container .button-close {
    width: 90px;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
    border: none;
    border: 2px solid #FFF;
    cursor: pointer;
    background: none;
    font-weight: bold;
    color: #FFF;
}